useDynLib("msgps")


export(dfgps)
export(msgps)
export(coef.dfgps)
export(coef.step.dfgps)
export(coef.msgps)
export(coefmat.dfgps)
export(aicc.dfgps)
export(bic.dfgps)
export(cp.dfgps)
export(gcv.dfgps)
export(summary.msgps)
export(plot.msgps)
export(predict.msgps)
export(print.msgps)



S3method("coef","dfgps")
S3method("coef","msgps")
S3method("summary","msgps")
S3method("predict","msgps")
S3method("plot","msgps")
S3method("print","msgps")
